# Core Django
Django>=5.1.6
djangorestframework>=3.14.0
asgiref==3.8.1
sqlparse==0.4.4
pytz==2023.3

# Database
psycopg2-binary==2.9.9
dj-database-url

# Production Server
gunicorn==21.2.0
whitenoise==6.6.0

# Environment
django-environ==0.11.2
python-dotenv==1.0.0

# CORS headers
django-cors-headers==4.3.1

# Media & Images
Pillow>=10.0.0

# Security
cryptography
PyJWT

# HTTP Requests
requests

# Video Processing
python-ffmpeg-video-streaming
ffmpeg-python

# Cloud Storage
mega.py==1.0.8
tenacity==5.1.5